.mainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 5px black;
  width: 50vw;
  margin: auto;
  border-radius: 7px;
  background-color: #ffffff0b;
  backdrop-filter: blur(4px);
}
.header{
  font-size: 1.5em;
  font-family: poppins;
}
.inputArea{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #616161;
  border-radius: 20px;
  padding: 0 5px;
  width: 90%;
  margin-bottom: 15px;
}
.todoInput{
  padding: 2px 6px ;
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
}
.deleteBtn{
  border: none;
  outline: none;
  font-size: 10px;
  padding: 4px 7px;
  border-radius: 6px;
  background-color: black;
  cursor: pointer;
}
.deleteBtn:hover{
  background-color: #fff;
  color: black;
}
.addBtn{
  border: none;
  outline: none;
  font-size: 10px;
  padding: 4px 7px;
  border-radius: 6px;
  background-color: white;
  color: black;
  cursor: pointer;
}
.addBtn:hover{
  background-color: black;
  color: white;
}
.allTodos{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10px;
}
.indTodo{
  cursor: pointer;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  width: 100%;
}
.indTodo p{
  font-size: 13px;
}
.mainTodo{
  display: flex;
  align-items: center;

}
.indTodo input{
  cursor: pointer;
}
.completed{
  text-decoration: line-through;
  color: #d5cfcf;
}